*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    overflow-x: hidden;
}
header{
    background-image: url(assets/img/backgroundHome.jpg);
    background-size: cover;
    height: 100vh;
    display: flex;
    padding-top: 200px;
    justify-content: center;
}
header h1{
    position: absolute;
    color: white;
    font-size: 70px;
    transform: translateX(1500px);
    animation: translateLeft0 1.5s ease-out forwards;
}

@keyframes translateLeft0 {
    0% {
    }
    100% {
        transform: translateX(0px);
    }
    
}

section{
    background: #474B4D;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.boxs {
    background: #6E6D73;
    max-width: 80%;
    width: auto;
    display: flex;
    flex-wrap: wrap;
}


.boxs .box{
    background: orange;
    width: 230px;
    height: 300px;
    border-radius: 10px;
    background-image: url(assets/img/backgroundBox.jpg);
    background-size: cover;
    background-position: center;
    margin: 30px;
}

.boxs .box a{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    text-decoration: none;
}

.boxs .box a .top{
    display: flex;
    height: 30%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.boxs .box a .top h3{
    display: flex;
    height: 30%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}
.boxs .box a .bottom{
    display: flex;
    height: 70%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.boxs .box a .bottom img{
    opacity: 0.90;
}

.parametre{
    position: absolute;
    right: 20px;
    top: 20px;
    background-image: url(assets/img/logo.png);
    background-size: cover;
    width: 70px;
    height: 70px;
    cursor: pointer;
}

.parametreWin{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    /* height: 300px; */
    height: auto;
    background: #474b4ddc;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    box-shadow: 5px 5px 15px 5px #000000;
}
.parametreWin h1{
    color: white;
}
.parametreWin .fields{
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.parametreWin .fields .field{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.parametreWin .fields .field input{
    cursor: pointer;
}

.parametreWin .fields .field p{
    font-size: 25px;
}
.parametreWin button{
    width: 300px;
    height: 40px;
    cursor: pointer;
    background: #ffaa00;
    color: #000;
    border: none !important;
    border-radius: 5px;
    font-size: 20px;
}