.piece{
    width: 100%;
    height: 100%;
    position: absolute;
}

.bb{
    background: url(../pieces/bb.png);
    background-size: cover;
}

.bk{
    background: url(../pieces/bk.png);
    background-size: cover;
}

.bn{
    background: url(../pieces/bn.png);
    background-size: cover;
}

.bp{
    background: url(../pieces/bp.png);
    background-size: cover;
}

.bq{
    background: url(../pieces/bq.png);
    background-size: cover;
}

.br{
    background: url(../pieces/br.png);
    background-size: cover;
}



.wb{
    background: url(../pieces/wb.png);
    background-size: cover;
}

.wk{
    background: url(../pieces/wk.png);
    background-size: cover;
}

.wn{
    background: url(../pieces/wn.png);
    background-size: cover;
}

.wp{
    background: url(../pieces/wp.png);
    background-size: cover;
}

.wq{
    background: url(../pieces/wq.png);
    background-size: cover;
}

.wr{
    background: url(../pieces/wr.png);
    background-size: cover;
}

